# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.pyd

# Virtual envs
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
media/
staticfiles/
local_settings.py

# Logs
*.log
npm-debug.log*
pip-log.txt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env
