
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background-color: #f5f5ff;
    color: #2e005e;
  }
  

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background: linear-gradient(to right, #dabfff, #f6eb42);
    min-height: 400px;
  }
  
  .hero-text {
    flex: 1;
    max-width: 500px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .cta {
    display: inline-block;
    margin-top: 20px;
    background-color: #2e005e;
    color: white ;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    text-decoration-color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s;
    user-select: none;
  }
  
  .cta:hover {
    background-color: #471089;
    color: white;
  }
  
  .hero-img img {
    width: 300px;
  }
  
  .features {
    padding: 50px 40px;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .feature-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    transition: transform 0.3s;
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
  }
  
  footer {
    background-color: #2e005e;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
  }
  